02_assignment_doyle.Rmd
Untitled.Rmd
cex_test.Rdata
cex_train.Rdata
gas.dat
gss.xls
nes.Rdata
oecd.Rdata
NES2004.sav
gss.RData
psid.RData
maindata.RData
Carvana_Data_Dictionary.txt
training.csv
test.zip
training.zip
